
:host {
	position: fixed;   /* ثابت و تمام صفحه */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;        /* پشت محتوا */
	pointer-events: none; /* روی کلیک‌ها اثر نگذارد */
}

.particles-bg {
	width: 100%;
	height: 100%;
}
.particles-bg {
	position: fixed;      /* مهم */
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh !important;   /* مهم‌ترین بخش */
	z-index: 0;
	overflow: hidden;
	pointer-events: none;
}

.particles-bg canvas {
	width: 100% !important;
	height: 100% !important;
	display: block;
}
