//html, body { height: 100%; background: var(--ws-bg, #0b1016); }
//.ws-card { background: var(--ws-card); color: var(--ws-text); border-radius: 16px; box-shadow: 0 8px 20px rgba(0,0,0,.08); }
//.ws-muted { color: #8b98a5; }
//.ws-gap { gap: 1rem; }


.divider {
	display: flex;
	align-items: center;
	text-align: center;
	margin: 1rem 0;

	&::before,
	&::after {
		content: '';
		flex: 1;
		border-bottom: 1px solid #ccc;
	}

	span {
		padding: 0 10px;
		color: #888;
		font-size: 0.9rem;
	}
}

.social-buttons button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.p-inputtext {
	width: 100%;
}

.w-full {
	width: 100%;
}

/* Glass ONLY for cards (PrimeNG & Bootstrap) */
body {
	background: linear-gradient(120deg, #efefef, #c8c8c8);
	background-attachment: fixed;
}

.p-card,
.card {
	background: rgba(255, 255, 255, 0.08) !important;
	backdrop-filter: blur(25px) saturate(160%) !important;
	-webkit-backdrop-filter: blur(25px) saturate(160%) !important;
	border: 1px solid rgba(255, 255, 255, 0.15) !important;
	border-radius: 1.5rem !important;
	box-shadow: 0 10px 30px rgba(255, 255, 255, 0.7) !important;
	overflow: hidden;
	position: relative;
}

.p-card::before,
.card::before {
	content: "";
	position: absolute;
	top: -50%;
	right: -50%;
	width: 140%;
	height: 200%;
	background: conic-gradient(
			from 180deg at 50% 50%,
			rgba(0, 0, 0, 0.1),
			transparent,
			rgba(0, 0, 0, 0.1)
	);
	transform: rotate(25deg);
	z-index: 0;
}

.p-card *,
.card * {
	position: relative;
	z-index: 2;
}
* {
	color: rgba(40, 40, 40, 0.7);

}
a {
	text-decoration: none;
	cursor: pointer;
	color: rgba(50, 50, 50, 0.8);
}
